go 1.24.5

use (
	./agent
	./gateway
	./loop
	./protocol
)

replace (
	github.com/chinudotdev/pith/agent v0.1.2 => ./agent
	github.com/chinudotdev/pith/gateway v0.1.2 => ./gateway
	github.com/chinudotdev/pith/loop v0.1.2 => ./loop
	github.com/chinudotdev/pith/protocol v0.1.2 => ./protocol
)
